@font-face {
    font-family: 'bpdotssquaresbold';
    src: url('./font/bpdotssquarebold-webfont.woff2') format('woff2'),
         url('./font/bpdotssquarebold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'bpdotssquaresbold';
    background-color: black;
    /* font-weight: 100; */
    color: white;
}

.main{
     display: flex;
    flex-direction: column;
     align-items: center;
    justify-content: center;
}

.timerdiv p{
    /* margin-top: 0px; */
    /* margin-bottom: 0px; */
    font-size: 1.3rem;
}

#timerdivp1{
    margin-bottom: 0px;
}

#timerdivp2{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
}

#timer{
    margin-top: 0px;
}

.logotimer{
    display: flex;
    flex-direction: column;
     /* align-items: center; */
    justify-content: space-between;
    align-content: stretch;
    margin-bottom: 20px;

}

.logo{
    /* width: 37%; */
    /* width: 47%; */
    position: relative;
    left: -25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo img{
    width: 100%
}

.whosay{
    /* color: black; */
    margin-bottom: 5px;
    position: relative;
    right: -8px;
}

#whonexttt{
    font-size: 1.4rem;
}

.showcolumn{
    display: flex;
    flex-direction: row;
     /* align-items: center; */
    justify-content: center;
    /* width: 350px; */
    /* 585 */
    padding: 200px 345px 0 345px;
    /* height: 666px; */
    height: 1192px;
    width: 596px;
    /* 4.2 : 8 */

}

.leftcolumn{

}

.rightcolumn{
    position: relative;
    top: 24px;
    right: -40px;

}

.rightcolumn h1{
    margin-bottom: 10px;
    line-height: 100%;
}


.leftcontainer {
    /* background-color: white; */
    background-color: #ffffff52;
    /* margin: 50px; */
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    border-color: white;
    border-radius: 25px;
    /* box-shadow: 0 0 10px #5edcec; */

    display: flex;
    flex-direction: column;
     /* align-items: center; */
    /* justify-content: center; */
}
.leftcontainer:after {
    content: "";
    position: absolute;
    
   top: 100%;
   right: 70px;
   border-top: 30px solid blue;
   border-top-color: #ffffff52; 
   /* border-left: 20px solid transparent; */
   border-right: 40px solid transparent; 
}



#outputarea{
    background-color: transparent;
    /* padding: 5px 5px; */
    /* font-size: 1.5rem; */
    font-size: 2.2rem; /*14*/
    /* height: 409px; */
    /* height: 400px; */
    height: 406px;
    border-width: 0px; 
    color: #969696;
    /* margin-top: 20px; */
/* 
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px; */
    resize: none; 
    /* height: 100px; */
   width: 100%;
   padding:1%;
   border:none;
   overflow: hidden;
}


ul {
    margin: 0.75em 0;
    padding: 0 1em;
    margin-top: 0px;
    list-style: none;
}
li:before { 
    content: "";
    border-color: transparent white;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    /* top: 0.9em; */
    top: 1.2em;
    position: relative;
}


.censorby{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.censorby p{
    /* margin-bottom: 20px; */
    margin-top: 0px; 
    text-align: right; 
    font-size: 17px;
}

.bottomspot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.bottomdescrip{
    position: relative;
    left: -70px;
}

.imageqr img{
    width: 40%;
}